@inject HttpClient Http

<div>
    <EditForm Model="@request" OnValidSubmit="Save">
        <MudSelect @bind-Value="request.Method"
                   Label="Method"
                   Variant="Variant.Text">
            <MudSelectItem Value="@RequestMethod.GET">GET</MudSelectItem>
            <MudSelectItem Value="@RequestMethod.POST">POST</MudSelectItem>
            <MudSelectItem Value="@RequestMethod.PUT">PUT</MudSelectItem>
            <MudSelectItem Value="@RequestMethod.DELETE">DELETE</MudSelectItem>
        </MudSelect>
        <MudTextField @bind-Value="request.Path"
                      Label="Path"
                      Variant="Variant.Text" />
        <MudTextField @bind-Value="request.Body"
                      Label="Body"
                      Variant="Variant.Text"
                      Lines="5"/>
        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="ml-auto">
            Save
        </MudButton>
    </EditForm>
</div>

@code {
    private CreateRequestDto request = new CreateRequestDto();

    private async Task Save()
    {
        await Http.PostAsJsonAsync<CreateRequestDto>("api/v1/request", request);
    }
}
