@if (WebhookRule is not null)
{
    <div class="d-flex justify-space-between align-center">
        <div Class="flex-1">
            <MudChip T="string" Variant="Variant.Text" Color="@(WebhookRule.Method.GetMethodColor())">@WebhookRule.MethodLabel</MudChip>
        </div>
        <MudText Class="flex-1">@WebhookRule.Path</MudText>
        <MudText Class="flex-1">@WebhookRule.Description</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="EditAsync"></MudIconButton>
        <MudIconButton Icon="@Icons.Material.Filled.ViewArray" OnClick="ViewEventsAsync"></MudIconButton>
    </div>
}

@code {
    [Parameter]
    public WebhookRuleDto? WebhookRule { get; set; }

    [Parameter]
    public EventCallback OnEdit { get; set; }

    [Parameter]
    public EventCallback OnViewEvents { get; set; }

    private async Task EditAsync()
    {
        await OnEdit.InvokeAsync();
    }

    private async Task ViewEventsAsync()
    {
        await OnViewEvents.InvokeAsync();
    }
}
